/* .about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
} */
.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;

  width: 100%;
  border-radius: 8px;
}

#resume-btn {
  margin-left: 15px;
}
.about-text p span {
  font-size: 30px;
  color: #0ef;
}
