/* .header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
  
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
} */
.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  justify-content: end;
}
.navbar a:hover {
  color: #0ef;
}
